<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container">
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h2>Detail</h2>
                <p><strong>ID:</strong> <span th:text="${id}"></span></p>
                <p><strong>Title:</strong> <span th:text="${item.titolo}"></span></p>
                <a class="btn btn-secondary" th:href="@{${titolo == 'Movies' ? '/movies' : '/songs'}}">Back</a>
        </div>
    </div>
</div>
</body>
</html>