<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body>
<div class="container">
    <div th:replace="~{fragments/navbar :: navbar}"></div>
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h2 th:text="${titolo}" class="mb-4"></h2>
                    <ul class="list-group">
                        <li class="list-group-item" th:each="item : ${list}">
                            <a th:href="@{${titolo == 'Movies' ? '/movies/' + item.id : '/songs/' + item.id}}" th:text="${item.titolo}"></a>
                        </li>
                    </ul>
            </div>
        </div>
</div>
</body>
</html>